@import "colors";

.__button {
  background: $bg-container;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  max-width: 250px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
  &:hover {
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.20);
    transform: translateY(-5px);
  }
  &:active {

  }
}