@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

.__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.__text {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 1rem 0;
}

.__bold {
  &.__text {
    font-weight: 600;
  }
  &.__title {
    font-weight: 900;
  }
}